/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  font-family: "Roboto", san-serif;
}

body {
  background-image: url(./assets/burger-friends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0FB9B1;
}

#whats-for-dinner {
  margin-left: 15px;
  font-size: 24px;
}

#add-recipe-button {
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  border: none;
}

main {
  height: 88%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-child {
  background-color: rgba(225, 225, 225, .9);
  height: 35vh;
  width: 25vw;
  margin-top: 3vh;
  margin-bottom: 45vh;
}

#flex-child-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 200px;
}

#flex-child-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
}

.clear-button {
  height: 40px;
  width: 80px;
  color: white;
  background-color: #95a5a6;
  border-radius: 5px;
  border: none;
  margin-left: 375px;
  margin-top: 75px;
}

#radio-title {
  font-weight: bold;
  font-size: 24px;
  margin-right: 110px;
  margin-top: 20px;
}

span {
  color: red;
}

label {
  display: flex;
  vertical-align: middle;
  margin: 2px 100px 10px 45px;
}

.lets-cook-button {
  margin: 10px 120px 15px 45px;
  height: 45px;
  width: 170px;
  border-radius: 5px;
  background-color: #0fb9b1;
  border: none;
}

.cook-pot {
  height: 50%;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: rgba(225, 225, 225, .9);
  height: 60px;
}

.new-recipe-text {
  font-size: 20px;
  margin-top: 17px;
  margin-bottom: 15px;
}

.new-recipe-input {
  margin-right: 60px;
  margin-left: -90px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.add-new-button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin-left: -20px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.hidden {
  display: none;
}
