* {
  font-family: "Roboto", san-serif;
}

html, body {
  background-image: url(./assets/burger-friends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  justify-content: center;
}

.center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.boxes {
  margin-top: 5%;
  height: 425px;
  width: 500px;
  background: rgba(225, 225, 225, .9);
}

.cook-btn {
  height: 50px;
  width: 200px;
}

.sml-btns {
  height: 30px;
  width: 80px;
}

.big-btns {
  height: 50px;
  width: 120px;
}

.btn-border {
  border: 0;
  border-radius: 10px;
}

img {
  height: 150px;
  width: 150px;
}

.sml-right-marg {
  margin-right: 2%;
}

.med-right-marg {
  margin-right: 10%;
}

.sml-left-marg {
  margin-left: 2%;
}

.med-left-marg {
  margin-left: 10%;
}

.sml-top-marg {
  margin-top: 6%;
}

.big-top-marg {
  margin-top: 10%;
}

.sml-top-btm-marg {
  margin-top: 2%;
  margin-bottom: 2%;
}

.big-top-btm-marg {
  margin-top: 4%;
  margin-bottom: 4%;
}

.min-height {
  min-height: 80px;
}

.sml-max-height {
  max-height: 30px;
}

.big-max-height {
  min-height: 50px;
  max-height: 50px;
}

.max-width {
  max-width: 88%;
}

.min-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

span {
  color:rgb(228, 4, 4);
}

.teal {
  background-color: #0fb9b1;
}

.sml-text {
  font-size: 14px;
}

.med-text {
  font-size: 22px;
}

.big-text {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}

.fixed {
  bottom: 0;
  position: fixed;
}

.hidden {
  display: none;
}
